<launch>
  <arg name="use_sim_time" default="false"/>
  <arg name="map_file" default="/home/jhr/jhr/fast_ws/maps/result_cleaned.bt"/>
  <arg name="start_source" default="tf"/>
  <arg name="base_frame" default="base_link"/>
  <arg name="launch_open3d_picker" default="false"/>

  <node pkg="global_planner" exec="global_planner_node" name="global_planner_node" output="screen">
    <param from="$(find-pkg-share global_planner)/config/global_planner.yaml"/>
    <param name="use_sim_time" value="$(var use_sim_time)"/>
    <param name="map_file" value="$(var map_file)"/>
    <param name="start_source" value="$(var start_source)"/>
    <param name="base_frame" value="$(var base_frame)"/>
  </node>

  <node pkg="global_planner" exec="initial_pose_3d_bridge.py" name="initial_pose_3d_bridge" output="screen">
    <param from="$(find-pkg-share global_planner)/config/global_planner.yaml"/>
    <param name="use_sim_time" value="$(var use_sim_time)"/>
  </node>

  <node pkg="global_planner" exec="open3d_goal_picker.py" name="open3d_goal_picker" output="screen"
        if="$(var launch_open3d_picker)">
    <param name="use_sim_time" value="$(var use_sim_time)"/>
    <param name="cloud_topic" value="/octomap_points"/>
    <param name="path_topic" value="/global_path_3d"/>
    <param name="initial_pose_topic" value="/initial_pose_3d"/>
    <param name="goal_pose_topic" value="/goal_pose_3d"/>
    <param name="frame_id" value="map"/>
  </node>
</launch>
